{% extends 'base/base.html' %}
{% import 'macros/macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
    <div class="container">
        {#  post option buttons  #}
{#        {% if current_user.is_authenticated %}#}
{#            <div class="row">#}
{#                <div class="pull-right col-md-4">#}
{#                    <a class="btn btn-info" href={{ url_for('blog.edit') }}>New Post</a>#}
{#                    <a class="btn btn-info" href={{ url_for('blog.edit', title=post.title) }}>Edit Post</a>#}
{#                    <a class="btn btn-info" href="{{ url_for('blog.delete', title=post.title) }}">Delete Post</a>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
        {# post title #}
        <div class="row">
            <div class="col-md-12">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
        <br>
        {# post author and subject #}
        <div class="row">
            <div class="col-md-8">
                Posted by <a class="btn-xs btn-danger" href="{{ url_for('.about') }}"><strong>Windery</strong></a>
                under <a class="btn-xs btn-primary" href={{ url_for('blog.posts', subject=post.subject_name) }}><strong>{{ post.subject_name }}</strong></a>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-time"></span> Created at </i>{{ post.create_time }}
            </div>
        </div>
        <hr>
        <br>
        {# post content #}
        <div class="row">
            <div class="col-md-12">
                {#                <div class="well" style="word-wrap: break-word">#}
                {{ post.content | markdown }}
                {#                </div>#}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 pull-left">
                <i class="fa fa-tags"></i> {{ macros.show_tags(tags=post.get_tag_list()) }}
            </div>
            <div class="col-md-4 pull-right">
                <span class="glyphicon glyphicon-time"></span>
                Updated at {{ post.modify_time }}
            </div>
        </div>
        {# comments #}


        {% if comments %}
            {% for comment in comments %}
                <br>
                <br>
                <h3>Comments</h3>
                <br>
                <div class="col-md-12 well">
                    <h5 class="col-md-4">
                        <i class="fa fa-2x fa-user-circle"></i> {{ comment.username }}
                    </h5>
                    <h5 class="col-md-4 text-right pull-right">
                        <span class="glyphicon glyphicon-time"></span>
                        commented at {{ comment.comment_time }}
                    </h5>
                    <div class="col-md-12">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <br>
            </div>
        {% endif %}

        <div class="col-md-12">
            <br>
            <h2>Leave a reply</h2>
            <br>
            <div class="well">
                {{ wtf.quick_form(comment_form) }}
                <form role="form">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
