{% extends 'base/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Windblog - File Management
{% endblock %}

{% block page_content %}
    <h1 class="page-header">File Management</h1>
    <div class="col-md-12">
        <br>
        <br>
        <br>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="nav">
                    <div class="ul">

                    </div>
                <div class="col-md-4">
                <li><h4><strong>File Management</strong></h4></li>
                    </div>
                <div class="col-md-2 text-center pull-right">
                    <li><a class="btn btn-success" href="{{ url_for('user.upload_file') }}">Upload File</a></li>
                </div>
                    </div>
            </div>
            <div class="panel-body">
                    <div class="col-md-12">
                            <table class="table text-center">
                            <tr>
                                <td><strong>File Name</strong></td>
                                <td><strong>Operation</strong></td>
                            </tr>
                                {% if filenames %}
                                    {% for filename in filenames %}
                                        <tr>
                                            <td>{{ filename }}</td>
                                            <td>
                                                <a class="btn btn-xs btn-warning" href={{ url_for('user.download_file', filename=filename) }}>Download</a>
                                                &nbsp;
                                                <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete_file_confirm_dialog">Delete</a>
                                                <div class="modal fade" id="delete_file_confirm_dialog">
                                                   <div class="modal-dialog">
                                                       <div class="modal-content">
                                                           <div class="modal-header">
                                                               <button class="close" data-dismiss="modal"></button>
                                                               <h4 class="modal-title">Delete File</h4>
                                                           </div>
                                                           <div class="modal-body">
                                                               <p>Are you sure to delete 【{{ filename }}】?</p>
                                                           </div>
                                                           <div class="modal-footer">
                                                               <a class="btn btn-primary" href="{{ url_for('user.delete_file', filename=filename) }}" >Yes</a>
                                                               <button class="btn btn-primary" data-dismiss="modal">No</button>
                                                           </div>
                                                       </div>
                                                   </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                    </div>
                </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
