{% extends 'bootstrap/base.html' %}
{% import 'macros/macros.html' as macros %}
{% block head %}
    {{ super() }}
    {% include 'base/head.html' %}
{% endblock %}
{% block title %}
    Windery's Blog
{% endblock %}

{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        {{ macros.show_flashed_messages() }}
        {% block page_content %}
        {% endblock %}
    </div>

    {% include 'base/footer.html' %}

{% endblock %}




