<br>
<br>
<br>
<br>
<footer>
    <div class="footer">
            <div class="well text-center">
                <p>
                    <a href="http://stackoverflow.com/users/5640692/windery" target="_blank" style="color: #777;"><i class="fa fa-stack-overflow fa-lg"></i></a>
                    &nbsp;
                    <a href="https://github.com/windery" target="_blank" style="color: #777;"><i class=" fa fa-github fa-lg"></i></a>
                    &nbsp;
                    <a href="http://weibo.com/u/2398771221" target="_blank" style="color: #777;"><i class="fa fa-weibo fa-lg"></i></a>
                </p>
                <p>
                    Powerd by <a href="http://github.com/windery/flasky"><b>WindBlog</b></a>. Copyright&copy;2017.
                </p>
                <p>
                    <a href="http://huanglang.org"><b>huanglang.org.</b></a>&nbsp;All rights reserved.
                </p>
                {#                <p>#}
                {#                    <a href="http://huanglang.org" target="_top" style="color: #777;"><i class="fa fa-html5 fa-2x"></i></a>#}
                {#                </p>#}
            </div>
    </div>
</footer>
