<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
{#        <a href="https://github.com/windery"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>#}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b>Windery's Blog</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for subject in subjects %}
                    <li>
                        <a href={{ url_for('blog.posts', subject=subject.name) }}><strong>{{ subject.name.title() }}</strong></a>
                    </li>
                {% endfor %}
                <li><a href="/about"><strong>About</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right text-center">
{#                {% if current_user.is_authenticated %}#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">#}
{#                            <i class="fa fa-user"></i> <strong>{{ current_user.username }}</strong>#}
{#                            <span class="caret"></span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu dropdown-menu-left">#}
{#                            <li><a href="{{ url_for('user.manage', target='blog') }}"><i class="fa fa-file-text-o"></i> <strong>Blog</strong></a> </li>#}
{#                            <li><a href="{{ url_for('user.manage', target='file') }}"><i class="fa fa-file"></i> <strong>File</strong></a> </li>#}
{#                            <li><a href="{{ url_for('user.logout') }}"><i class="fa fa-sign-out"></i> <strong>Sign out</strong></a> </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">#}
{#                            <i class="fa fa-user"></i><strong>Sign In</strong>#}
{#                            <span class="caret"></span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu dropdown-menu-left">#}
{#                            <li><a href="{{ url_for('user.login') }}"><i class="fa fa-sign-in"></i> <strong>Sign in</strong></a></li>#}
{#                            <li><a href="{{ url_for('user.register') }}"><i class="fa fa-registered"></i> <strong>Register</strong></a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                {% endif %}#}
{#                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=200 height=52 src="//music.163.com/outchain/player?type=0&id=624581494&auto=0&height=32"></iframe>#}
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<br>
