{% macro show_flashed_messages() %}
    <div class="col-md-12">
        {%  with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {#                info, success, warning, info #}
                    <div class="alert alert-{{ category }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <div class="text-center">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endmacro %}

{% macro show_tags(tags=None) %}
    {% if tags %}
        {% for tag in tags %}
            <a class="btn btn-xs label-default" style="color: #fff;" href="{{ url_for('blog.tag', tag=tag) }}">{{ tag }}</a>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro show_brief_post(post) %}
    <div class="col-md-12">
        <h1>
            <a class="text-info" href="{{ url_for('blog.post', title=post.title) }}">{{ post.title }}</a>
        </h1>
    </div>
    <div class="col-md-9">
        <a class="btn-xs btn-danger" href="{{ url_for('blog.about') }}"><b>Windery</b></a>
        posted under
        <a class="btn-xs btn-warning" href="{{ url_for('blog.posts', subject=post.subject_name) }}"><b>{{ post.subject_name }}</b></a>
    </div>
    <div class="col-md-3 text-muted text-right">
        <i class="fa fa-clock-o"></i>{{ post.create_time }}
    </div>
    <div class="col-md-12"><p></p></div>
    <div class="col-md-12">
        <div class="well" style="word-wrap: break-word">
            {{ post.get_brief_markdown_content() | safe }}
        </div>
        <div class="col-md-6">
            <p class="text-left">
                <i class="fa fa-tags"></i>
                {{ show_tags(tags=post.get_tag_list()) }} &nbsp;
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <a class="btn btn-primary" href="{{ url_for('blog.post', title=post.title) }}">
                    Read More
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </p>
        </div>
    </div>
    <hr>
{% endmacro %}

{% macro show_posts(posts) %}
    {% if posts %}
        {% for post in posts %}
            {{ show_brief_post(post) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro show_tags_panel(tags=None) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-tags"></i> Tags</h4>
        </div>
        <div class="panel-body">
            {% if tags %}
                {% for tag in tags %}
                    <a class="btn-xs btn-info" href={{ url_for('blog.tag', tag=tag) }}>{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro show_links_panel(links=None) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-link"></i> Links</h4>
        </div>
        <div class="panel-body">
            <a class="btn-xs btn-info" href="http://kolapapa.com">Kolapapa</a>
        </div>
    </div>
{% endmacro %}

{% macro show_posts_panel(posts=None) %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="nav">
                <div class="col-md-4">
                <li><h4 ><strong>Latest Posts</strong></h4></li>
                    </div>
                <div class="col-md-2 pull-right">
                <li><a class="btn btn-success" href={{ url_for('blog.edit') }}>New Post</a></li>
                </div>
            </ul>
        </div>
        <div class="panel-body">
            {% if posts %}
                <table class="table text-center">
                    <tr>
                        <td><strong>Subject</strong></td>
                        <td><strong>Title</strong></td>
                        <td><strong>Date</strong></td>
                        <td><strong>Operation</strong></td>
                    </tr>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.subject_name }}</td>
                            <td><a href="{{ url_for('blog.post', title=post.title) }}"> {{ post.title }}</a></td>
                            <td>{{ post.create_time.date() }}</td>
                            <td><a class="btn btn-sm btn-warning col-md-3 col-md-offset-2" href={{ url_for('blog.edit', title=post.title) }}>Edit</a>
                                <a class="btn btn-sm btn-danger col-md-3 col-md-offset-2" data-toggle="modal" data-target="#delete_post_confirm_dialog">Delete</a></td>
                            <div id="delete_post_confirm_dialog" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Delete Post</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure to delete post 【{{ post.title }}】?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-primary" href="{{ url_for('blog.delete', title=post.title) }}" >Yes</a>
                                            <button class="btn btn-primary" data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro show_pagination_widget(pagination, endpoint) %}
    <div class="text-center">
        <ul class="pagination">
            <li {% if not pagination.has_prev %} class="disabled"{% endif %}>
                <a href="{% if pagination.has_prev %} {{ url_for(endpoint, page = pagination.page - 1) }}{% else %}#{% endif %}">&laquo;</a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page == pagination.page %}
                        <li class="active">
                            <a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><a href="#">&hellip;</a></li>
                {% endif %}
            {% endfor %}
            <li{% if not pagination.has_next %} class="disabled"> {% endif %}
            <a href="{% if pagination.has_next %} {{ url_for(endpoint, page = pagination.page + 1, **kwargs) }} {% else %}#{% endif %}">&raquo;</a>
            </li>
        </ul>
    </div>
{% endmacro %}