{% extends 'base.html' %}
{% block page_content %}
    <br>
    <h3>About Me</h3>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2 text-center"><strong>Name:</strong></div>
        <div class="col-md-6 text-center">黄浪  (Windery)</div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-2 text-center"><strong>Email:</strong></div>
    <div class="col-md-6 text-center">res.windery@gmail.com</div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-2 text-center"><strong>Github:</strong></div>
    <div class="col-md-6 text-center"><a href="https://github.com/windery" target="_top">windery's github </a></div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-2 text-center"><strong>Company:</strong></div>
    <div class="col-md-6 text-center"><a href="http://www.agree.com.cn/">Agree Technologies</a></div>
    </div>
    <br>
{% endblock %}
