{% extends 'base.html' %}

{% block page_content %}
    <h1 class="page-header">
        Home
        <small>latest posts</small>
    </h1>
    {% for post in posts %}
        <h2>
            <a href="{{ url_for('blog.post', title=post.title) }}">{{ post.title }}</a>
        </h2>
        <p class="lead">
            by <a href="{{ url_for('blog.about') }}">Windery</a>
        </p>
        <p>
            <span class="glyphicon glyphicon-time"></span> Posted on {{ post.create_time }}
        </p>
            {{ post.get_brief_content() | markdown }}
        <a class="btn btn-primary" href="{{ url_for('blog.post', title=post.title) }}">
            Read More
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
