{% extends 'base.html' %}
{% block page_content %}
    <div>
    <div class="row">
        <div class="col-md-5">
            <h1>{{ post.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"> Posted by <a href="{{ url_for('.about') }}"><strong>Windery</strong></a>
            under <a href={{ url_for('blog.'+post.subject_name) }}><strong>{{ post.subject_name }}</strong></a> </div>
        <div class="col-md-2"><span class="glyphicon glyphicon-time"></span> {{ post.create_time }}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-10">
            <textarea>{{ post.content }}</textarea>
        </div>
    </div>
    <hr>
    <p><span class="glyphicon glyphicon-time"></span>Last updated on {{ post.update_time }}</p>
    <div class="well">
        <h4>留言：</h4>
        <form role="form">

        </form>
    </div>
{% endblock %}
